In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dota2Dataset/dota2Train.csv')
data.head()

,-1,223,2,2.1,0,0.1,0.2,0.3,0.4,0.5,...,0.93,0.94,0.95,0.96,0.97,0.98,0.99,0.100,0.101,0.102
0,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
1,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
3,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
4,1,122,2,3,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,-1

In [3]:
data.columns

Index(['-1', '223', '2', '2.1', '0', '0.1', '0.2', '0.3', '0.4', '0.5',
       ...
       '0.93', '0.94', '0.95', '0.96', '0.97', '0.98', '0.99', '0.100',
       '0.101', '0.102'],
      dtype='object', length=117)